.point{

  .myPoint{
    display:flex;
    align-items: center;
    justify-content: space-between;
    padding:15px;
    border:1px solid #d2d2d2;
    border-radius:10px;

    span{
      font-size:14px;
    }
    strong{

      font-size:24px;
      font-weight:600;
      color:#0077ff;
    }
  }

  .item-list{
    margin-top:40px;
    h4{
      margin-bottom:10px;
    }
    .row{
      padding:0;
      margin:-5px;
    }
    .col{
      margin:0;
      padding:5px;
    }
  }

  .item{
    border-radius:10px;
    overflow:hidden;
    border:1px solid #e2e2e2;

    .top{
      padding:10px;
      span, strong{
        display:block;
      }
      span{
        font-size:14px;
      }
      strong{
        font-weight:bold;
      }
    }
    
    .bonus{
      height:30px;
      padding:0 10px;
      display:flex;
      justify-content: space-between;
      align-items: center;
      background:#f2f2f2;
      font-size:12px;
      label{
        font-size:11px;
      }
      span{
        color:#0077ff;
        font-size:14px;
      }
    }

  }
 
}